body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000dc;
  color: #1e1e1e;
}

header {
  background-color: #181818;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Align menu items to the center */
}

.menu {
  list-style: none;
  display: flex;
  border-top: 2px solid #ffcc00; /* Add a top border */
  border-bottom: 2px solid #ffcc00; /* Add a bottom border */
  padding: 10px 0; /* Add padding to create some spacing */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color:#a3a3a3;
  text-decoration: none;
}

nav ul li a.active {
  font-weight: bold;
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product-card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color:#ffffff19;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px rgb(255, 230, 0);
}

.product-card img {
  max-width: 100%;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 0;
  color:#fff
}

.product-card p.price {
  font-weight: bold;
  color:#fff
}

.buy-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #0056b3;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}
